.playerInstance {
    /* width: 80%;
    margin: 0 auto;
    border: 2px dotted blanchedalmond; */
    
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 1fr;
    grid-template-rows: 5fr 2fr;
     width: 98%; 
   
    height: 95%;
    margin: 0 auto;
    margin-top: 2px;
    /* grid-template-areas: 
    'pr mi mi mi mi mi mi mi ri'
    'cat cat cat cat cat cat cat cat cat cat'; */
}
.profileImageContainer {
    height: 100%;
    background-color: cornsilk;
    grid-row-start: 1;
    grid-column-start: 1;
}
.mainInfoContainer {
    padding: 5px;
    display: flex;
    height: 100%;
    background-color:lightcyan;
    grid-column-start: 2;
}

.rankIconContainer {
    grid-column-start: 4;
    background-color: lightyellow;
    /* grid-area: ri; */
}
.nicknameContainer{
    padding: 5px;
    grid-column-start: 3;
    grid-row-start: 1;
    background-color: rgb(218, 252, 205);
}
.categoriesContainer {
    background-color: lightgoldenrodyellow;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
}

.wrapper {
    
    width: 90%;
    height: 100px;
    margin: 30px auto;
    margin-top: 10px;
    border-radius: 15px;
    border: 2px dotted blanchedalmond;

}

.mainInfoContainer:hover {
    
    cursor: pointer;
}

.mainInfoContainer:hover::after {
    position: static;
    top: 0;
    color: green;
    cursor: pointer;
    content: '\00a0\00a0↓Click to see more↓ ';
}

