.profileMenu {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    opacity: 0;
    padding: 7px;
    min-width: 100px;
    margin-right: 70px;
    pointer-events: none;
}

.profileMenu.active {
    opacity: 1;
    pointer-events: all;
}

.profileMenu:focus {
    border-radius: 5px;
}

.profileMenuItem {

}