.pointer{
    cursor: pointer;
    font-size: large;
    margin-right: 5px;
    
}

.pointer:hover{
    border: 1px solid rgb(231, 161, 31);
}
.active {
    border: 1px solid black;
}

.pagination {
   display:flex;
   justify-content: center;
}